@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Open Sans', sans-serif;
  background: #e7e7e3;
}

/* body {
  @apply font-rubik leading-normal;
} */


button {
    /* border: none;
    outline: none; */
    background: transparent;
}

button,
input,
textarea,
select {
    font-family: inherit;
    color: inherit;
}