@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Rubik';
  src: local("Rubik-Italic-VariableFont_wght"),
       url('./assets/fonts/Rubik-Italic-VariableFont_wght.tff') format('truetype');
  font-weight: normal; /* Hoặc 400 */
  font-style: normal;
}
